<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{templateOptions.metaDescription}}" />
  <link rel="icon" type="image/png" href="https://mailinabox.email/static/logo_small.png">
  <link rel="apple-touch-icon" type="image/png" href="https://mailinabox.email/static/logo_small.png">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500" rel="stylesheet" />
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #000 !important;
    }
  </style>
  {{{redocHead}}}
</head>

<body>
  {{{redocHTML}}}
</body>

</html>
