<style>#panel_mail-guide table.table { width: auto; margin-left: .5em; }</style>

<div>
	<h2 style="margin-bottom: 0">Checking and Sending Mail</h2>

	<div class="row">
		<div class="col-sm-6">
			<h3>Webmail</h3>

			<p>Webmail lets you check your email from any web browser. Your webmail site is:</p>
			<p style="margin-left: 2em"><strong><a href="https://{{hostname}}/mail">https://{{hostname}}/mail</a></strong></p>
			<p>Your username is your whole email address.</p>


			<h3>Mobile/desktop apps</h3>

				<h4>Automatic configuration</h4>

					<p>iOS and OS X only: Open <a style="font-weight: bold" href="https://{{hostname}}/mailinabox.mobileconfig">this configuration link</a> on your iOS device or on your Mac desktop to easily set up mail (IMAP/SMTP), Contacts, and Calendar. Your username is your whole email address.</p>
	
				<h4>Manual configuration</h4>

					<p>Use the following settings when you set up your email on your phone, desktop, or other device:</p>

					<table class="table">
					<thead>
						<tr><th>Option</th> <th>Value</th></tr>
					</thead>
					<tr><th>Protocol/Method</th> <td>IMAP</td></tr>
					<tr><th>Mail server</th> <td>{{hostname}}</td>
					<tr><th>IMAP Port</th> <td>993</td></tr>
					<tr><th>IMAP Security</th> <td>SSL</td></tr>
					<tr><th>SMTP Port</th> <td>587</td></tr>
					<tr><th>SMTP Security</td> <td>STARTTLS <small>(&ldquo;always&rdquo; or &ldquo;required&rdquo;, if prompted)</small></td></tr>
					<tr><th>Username:</th> <td>Your whole email address.</td></tr>
					<tr><th>Password:</th> <td>Your mail password.</td></tr>
					</table>

					<p>In addition to setting up your email, you&rsquo;ll also need to set up <a href="#sync_guide" onclick="return show_panel(this);">contacts and calendar synchronization</a> separately.</p>

				<h4>Exchange/ActiveSync settings</h4>

					<p>On iOS devices, devices on this <a href="http://z-push.org/compatibility/">compatibility list</a>, or using Outlook 2007 or later on Windows 7 and later, you may set up your mail as an Exchange or ActiveSync server. However, we&rsquo;ve found this to be more buggy than using IMAP as described above. If you encounter any problems, please use the manual settings above.</p>

					<table class="table">
					<tr><th>Server</th> <td>{{hostname}}</td></tr>
					<tr><th>Options</th> <td>Secure Connection</td></tr>
					</table>

					<p>Your device should also provide a contacts list and calendar that syncs to this box when you use this method.</p>
		</div>

		<div class="col-sm-6">
		<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Other information about mail on your box</h3>
		</div>
		<div class="panel-body">
			<h4>Greylisting</h4>
			<p>Your box using a technique called greylisting to cut down on spam. Greylisting works by delaying mail from people you haven&rsquo;t received mail from before for up to about 10 minutes. The vast majority of spam gets tricked by this. If you are waiting for an email from someone new, such as if you are registering on a new website and are waiting for an email confirmation, please give it up to 10-15 minutes to arrive.</p>

			<h4>+tag addresses</h4>
			<p>Every incoming email address also receives mail for <code>+tag</code> addresses. If your email address is <code>you@yourdomain.com</code>, you can also accept mail at <code>you+anythinghere@yourdomain.com</code>. Use this as a fast way to create aliases or to segment incoming mail for your own filtering rules.</p>

			<h4>Use only this box to send as you</h4>
			<p>Your box sets strict email sending policies for your domain names to make it harder for spam and other fraudulent mail to claim to be you. Only this machine is authorized to send email on behalf of your domain names. If you use any other service to send email as you, it will likely get spam filtered by recipients.</p>

			<h4>Relaying for other machines</h4>
			<p>If you have other machines on domains that are under the jurisdiction of your Mail-in-a-Box and they need to send mail (e.g. a webserver, or any machine that has cron jobs you want to see the output of) it is recommended that you configure those machines to relay via the Mail-in-a-Box.</p>
			<p>If the remote machine is running Ubuntu 14.04 this can be done by applying the following steps to it:
			<ol>
				<li>Run <code>sudo apt-get install postfix</code> and choose &ldquo;Satellite system&rdquo; when prompted.</li>
				<li>
					Append the following seven lines to <code>/etc/postfix/main.cf</code>:
					<pre><code>mydestination = 
smtp_use_tls = yes
smtp_tls_security_level = verify
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt
smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = hash:/etc/postfix/relay_password
smtp_sasl_tls_security_options = </code></pre>
				</li>
				<li>
					Write credentials in the following form to <code>/etc/postfix/relay_password</code> (substitute the second and third values with credentials for a freshly created account on the Mail-in-a-Box):
					<pre><code>{{hostname}} username:password</code></pre>
					The account that you create on Mail-in-a-Box for this purpose can be on any of the domains that your Mail-in-a-Box manages, as the only requirement on mail sent by the remote machine is that it is from <em>a</em> domain that the Mail-in-a-Box manages. You may wish to create aliases on Mail-in-a-Box so that any replies sent to automatically generated messages do get routed to your own inbox; otherwise they will accumulate in the inbox of the relay account.
				</li>
				<li>Finally, chmod it to 600 (<code>sudo chmod 600 /etc/postfix/relay_password</code>), run <code>sudo postmap /etc/postfix/relay_password</code> and then reload postfix (<code>sudo service postfix reload</code>).</li>
			</ol>
			That's it! Mail created and dispatched on the remote machine will now be routed via your Mail-in-a-Box.
		</div>
		</div>
		</div>
	</div>
</div>
