[Unit]
Description=Mail-in-a-Box System Management Service
After=multi-user.target

[Service]
Type=idle
IgnoreSIGPIPE=False
ExecStart=/usr/local/lib/mailinabox/start

[Install]
WantedBy=multi-user.target
